body {
  text-align: center;
  font-family: 'Gill Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

main {
  background-color: white;
  min-width: 480px;
  width: 90%;
  max-width: 600px;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
  margin: 0 auto 0;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

