body {
  font-family: 'Gill Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

h1 {
  text-align: center;
  margin-top: 0; /* this was the thing that pushed down the 'main' container a bit */
}

p {
  line-height: 135%; /* https://practicaltypography.com/line-spacing.html */
}

main {
  background-color: white;
  min-width: 350px;
  width: 90%;
  max-width: 700px;
  padding: 0 1em 2em;
  margin: 0 auto 0;
}

pre {
  background-color: #eee;
  white-space: pre;
  padding: 0.5em 1em 0.5em;
}

pre.source-listing {
  background-color: white;
  border: solid 1px black;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 16px;
}

pre code {
  font-size: 12px;
}

.translation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.translation > pre {
  flex-grow: 1;
  flex-shrink: 1;
}

@media screen and (max-width: 800px) {
  .translation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .translation > pre {
    align-self: center;
  }
}

.arrow {
  align-self: center;
  padding-left: 1em;
  padding-right: 1em;
  flex-shrink: 1;
}

.keyword {
  font-weight: bold;
}

.less-important {
  color: #999;
}

.triangle {
  font-size: 12px;
  color: #666;
}

